
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <app-menu-admin></app-menu-admin>
    <div class="layout-page">
      <app-navbar-admin></app-navbar-admin>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Show promotions</h4>
          <!-- Basic Bootstrap Table -->
          <div class="card">
            <h5 class="card-header">Table Basic</h5>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>
                    <span style="margin-right: 30px;">Name</span>
                    <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('nom,asc')"></span>
                    <span class="tf-icons bx bx-down-arrow-alt btn-outline-info" (click)="onSortChange('nom,desc')"></span>
                  </th>
                  <th>
                    <span style="margin-right: 120px;">Pourcentage</span>
                    <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('pourcentage,asc')"></span>
                    <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('pourcentage,desc')"></span></th>
                  <th>
                    <span style="margin-right: 10px;">PromotionDate</span>
                    <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('PromotionDate,asc')"></span>
                    <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('PromotionDate,desc')"></span></th>
                  <th>
                    <span style="margin-right: 30px;">Duree</span>
                    <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('duree,asc')"></span>
                    <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('duree,desc')"></span></th>
                  <th>
                    <span style="margin-right: 110px;">Description</span>
                    <span class="tf-icons bx bx-up-arrow-alt btn-outline-primary" (click)="onSortChange('description,asc')"></span>
                    <span class="tf-icons bx bx-down-arrow-alt btn-outline-info"(click)="onSortChange('description,desc')"></span></th>

                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr *ngFor="let promotion of promotions | paginate: { itemsPerPage: 10, currentPage: pageNumber }" (dblclick)="(promotion.id)">
                  <td><span class="badge badge-center rounded-pill bg-label-primary">{{promotion.id}}</span></td>
                  <td>{{promotion.nom}} {{promotion.nom}}</td>
                  <td>{{promotion.pourcentage}}</td>
                  <td>{{promotion.PromotionDate}}</td>
                  <td>{{promotion.duree}}</td>
                  <td>{{promotion.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/ Basic Bootstrap Table -->

        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <pagination-controls (pageChange)="pageNumber = $event" ></pagination-controls>
          </div>
        </div>
        <app-footer-admin></app-footer-admin>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
  </div>
</div>
